                                         1st Day Class 
    
                                           14/May/2022
        
                                     Full stack Data Science

In [11]:
vijay = 10

In [12]:
vijay - 2

8

In [13]:
type(vijay)

int

In [14]:
v = "where are all people going"

In [15]:
v

'where are all people going'

In [16]:
type(v)

str

In [40]:
v = 45.65

In [41]:
type(v)

float

In [17]:
b = True

In [18]:
b

True

In [19]:
type(b)

bool

In [20]:
c = False

In [21]:
c

False

In [22]:
type(c)

bool

In [23]:
True/False

ZeroDivisionError: division by zero

In [24]:
True + True

2

In [25]:
True*True

1

In [26]:
n = 5+7j

In [27]:
type(n)

complex

In [28]:
n+n

(10+14j)

In [29]:
n

(5+7j)

In [31]:
0/1

0.0

In [32]:
n

(5+7j)

In [33]:
n.real

5.0

In [34]:
n.conjugate

In [35]:
v = "where are all people going"

In [37]:
type(v)

str

In [38]:
n.imag

7.0

In [1]:
g=[3,4,5,6,"vijay",True,False,5+7j,34.45]

In [2]:
type(g)

list

In [3]:
g[1]

4

In [52]:
g[5]

5

In [53]:
g[6]

True

In [4]:
t = (324,456,65,456,46,"gurung","vijay")

In [5]:
type(t)

tuple

In [59]:
d = {"a":"vijay", "b":"gurung", "c": 123456}

In [61]:
type(d)

dict

In [6]:
d = {"vijay","gurung","fruit","vegetable"}

In [7]:
type(d)

set

                                PYTHON - ( VARIABLE ) 2ND CLASS

              Full Stack Data Science ( DAY - 2 ) 15 - May Python String Basic

In [11]:
v = "Ineuron"

In [12]:
type(v)

str

In [14]:
v[0]

'I'

In [15]:
v[5]

'o'

In [16]:
v[-1]

'n'

In [18]:
v1 = "vijay"

In [19]:
v1

'vijay'

In [20]:
v1[-2]

'a'

In [34]:
v2 = "this is my very first programming class's"

In [35]:
v2

"this is my very first programming class's"

In [36]:
v2[8]

'm'

In [37]:
v2[1:5]

'his '

In [38]:
v2[6:30]

's my very first programm'

In [39]:
v2[6:30:2]

'sm eyfrtporm'

In [50]:
v = "vijaygurung"

In [51]:
v[0:10:2]

'vjyuu'

In [56]:
v = "vijaygurung"

In [57]:
v[0:11:1]

'vijaygurung'

In [58]:
v[0:10:-1]

''

In [59]:
v[10:0:-1]

'gnurugyaji'

In [60]:
v[10:0:-2]

'guuyj'

In [61]:
v[:-3]

'vijaygur'

In [62]:
v[-2:]

'ng'

In [63]:
v[::-1]

'gnurugyajiv'

In [64]:
v[0:50:1]

'vijaygurung'

In [65]:
v3 = "ineuron"

In [66]:
v3[-2:-7:1]

''

In [68]:
v3[-7:-2:1]

'ineur'

In [70]:
v3[5:0]

''

In [71]:
v3[-7:0:1]

''

In [72]:
v

'vijaygurung'

In [73]:
v[:-1:-1]

''

In [74]:
v+1

TypeError: can only concatenate str (not "int") to str

In [75]:
v+"1"

'vijaygurung1'

                                Type Casting

In [76]:
v+str(1)

'vijaygurung1'

In [77]:
"vijay" + 45789456

TypeError: can only concatenate str (not "int") to str

In [81]:
"vijay" + "4567857"

'vijay4567857'

In [84]:
v

'vijaygurung'

#Len(Length) - We use it to know the complete legth of data set. "vijaygurung" is 12 letter character.

#So,if we type len(v) then we get 11.

In [86]:
len(v)

11

In [91]:
 v

'vijaygurung'

In [92]:
v*2

'vijaygurungvijaygurung'

In [93]:
v*3

'vijaygurungvijaygurungvijaygurung'

                                               #Function
    
                                      #List of Function ( Total - 43 )
        
(1) Capitalize
(2) casefold
(3) Center
(4) Count
(5) Encode
(6) Endswitch
(7) Expandtabs
(8) Find
(9) Format
(10) Format_Map
(11) Index
(12) Isalnum
(13) Isalpha
(14) Isascii
(15) Isdecimal
(16) Isdigit
(17) Isidentifier
(18) Isprintable 
(19) IsSpace
(20) IsTitle
(21) IsUpper
(22) Join
(23) Ljust
(24) Lower
(25) Lstrip
(26) Maketrans
(27) Partition
(28) Replace
(29) RFind
(30) RIndex
(31) RJust
(32) RPartition
(33) RSplit
(34) RStrip
(35) SPlit
(36) SPlitLines
(37) StartSwitch
(38) Strip
(39) SwapCase
(40) Title 
(41) Translate
(42) Upper
(43) Zfill
(44) Reverse ( It is Extra function not available in the List Function for knowledge purpose)

In [15]:
  v = "vijaygurung"

In [16]:
v

'vijaygurung'

                                 Function - #4.Count !
                                 
       Definition :-

In [17]:
v

'vijaygurung'

In [19]:
v.count("g")

2

In [20]:
v.count("vi")

1

In [21]:
v.count('Vir')

0

                             Function - #35-Split !

  #Split ( Definition ) -  Return a list of the words in the string,using sep(Seperater) 
  
  #as the delimeter string.

In [16]:
v.split()

['vijaygurung']

In [18]:
v.split("g")

['vijay', 'urun', '']

In [19]:
v.split("g")
type(v.split("g"))

list

In [20]:
sw = 'The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues)'  '

SyntaxError: EOL while scanning string literal (3407455861.py, line 1)

In [21]:
sw = "The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues)".

SyntaxError: EOL while scanning string literal (858498698.py, line 1)

In [22]:
sw = "The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate "

In [29]:
sw

'The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate'

                              1st -  ( #Triple Line Couch ! )
#1.Use (""" ) When we have multi Line of string we always rember,but If we have multi line code then only 
                                  
#We have to used (""") Triple Couch Incase of multi line of string otherwise python will not able to 
                                  
#understand.
                                  

#2.Triple couch used even for the commenting purpose, so single line comment even for that purpose 
                                  
#it can be used.

#Triple line (""") - why we use - If we used single or double line couch then it will not work because 

#when it come to like whole paragraph, like Big line sentences then at that time single & double

#couch not work.

In [39]:
sw = """The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [40]:
sw.split()

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 'eighth',
 'highest',
 'global',
 'brand',
 'value.[4]',
 'Samsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.',
 'Notable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 'second',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 'revenues).[11][12]']

                         #Bracket ( ) inside  Space        
#Bracket inside ( )  space if we use then based on the space dalimeter it is fine it is going to 

#return me as a list of all dataset we are able to get. It will split all the sentences one by one.

In [2]:
sw = """The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]'"""

In [3]:
sw.split( )

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 'eighth',
 'highest',
 'global',
 'brand',
 'value.[4]',
 'Samsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.',
 'Notable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 'second',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 "revenues).[11][12]'"]

                                 #Function - 42 UPPER !
    
    Definition :-  ( Return a copy of the string converted to uppercase )

In [7]:
sw = """The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [8]:
sw.upper()

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE EIGHTH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S SECOND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

In [10]:
sw = sw.upper()

In [11]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE EIGHTH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S SECOND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

                                      #Function - 42 ( LOWER CASES )!
    
                Definition :-  ( Return a copy of the string converted to lowercase )

In [25]:
sw = """The Samsung Group[3] (or simply Samsung) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [26]:
sw.lower()

"the samsung group[3] (or simply samsung) (korean: 삼성 [samsʌŋ]) is a south korean multinational manufacturing conglomerate headquartered in samsung town, seoul, south korea.[1] it comprises numerous affiliated businesses,[1] most of them united under the samsung brand, and is the largest south korean chaebol (business conglomerate). as of 2020, samsung has the eighth highest global brand value.[4]\n\nsamsung was founded by lee byung-chul in 1938 as a trading company. over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. following lee's death in 1987, samsung was separated into five business groups – samsung group, shinsegae group, cj group and hansol group, and joongang group.\n\nnotable samsung industrial affiliates include samsung electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] samsung heavy industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and samsung engineering and samsung c&t corporation (respectively the world's 13th and 36th largest construction companies).[8] other notable subsidiaries include samsung life insurance (the world's 14th largest life insurance company),[9] samsung everland (operator of everland resort, the oldest theme park in south korea)[10] and cheil worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

                                      #Function - 40 ( TITLE )!

            Definition :-  ( Return a version of the string where each word is titlecased. )
            
  Note :- # This function whenever we use Title function our 1st letter of sentence will be in Capital Letter.
          # Whenever we write or call "Title" Function in that case a very 1st letter is going to be upper case.
     
  Example :- "vijay" all letter is small letter but when we use "Title" function then very 1st letter "V" will be 
            in Capital Letter & rest all are in small letter.

In [28]:
 v = "vijay"

In [29]:
v.title()

'Vijay'

                                  #Function - 1 ( CAPITALIZE )!

                 Definition :-  ( Return a capitalized version of the string )
                 
     # when we write or call Function "CAPITALIZE".Now here we can see same outcome as same as "Title" Function.
     # Whenever we write or call capitalize function in that case very 1st letter is going to be a upper case.
     
     #Example :-  "vijay" was in the lower case but when I called "Capitalize" function then it converted my very 
     #1st letter "V" in Capital Letter & rest in lower letter.

In [31]:
v = "vijay"

In [32]:
v.capitalize()

'Vijay'

                                      #Function - 39 ( SWAPCASE )!

        Definition :-  ( Convert uppercase characters to lowercase and lowercase characters to uppercase )

In [1]:
v = "VijaY guRunG"

In [2]:
v.swapcase()

'vIJAy GUrUNg'

                                      #Function - 44 ( Reversed )!

       Definition :- ( Reverse always return an object ) - Return a reverse iterator over the values of the given sequence.

In [4]:
v = "Vijay Gurung"

In [5]:
reversed(v)

In [8]:
''.join(reversed(v))

'gnuruG yajiV'

                                         Function - 44 ( STRIP )! - Strip Means Remove!

       Definition :- 1.( Strip - Strip is going to remove space which is available before & after between string( Vijay).
       
       Simple Definition - ( If we have a space on left hand side as well as right hand side, if we want to remove both
                             then I will call just a strip Function.) 
       
       Strip :- ( Return a copy of the string with leading and trailing whitespace removed.)

In [17]:
v = "  Vijay  "

In [18]:
v.strip()

'Vijay'

                  Function - 44 ( Strip ) Another Example !
    
    - Here why strip not remove that space between (vi  jay) because,In this case it will not going to remove a space which is 
    available in between (Vi   jay).Strip always try to remove a space which is available before & after
    
                     (       Vijay       ) only.

In [14]:
v = "      Vi    Jay     "

In [15]:
v.strip()

'Vi    Jay'

                           Function - 25 & 34  ( Lstrip  &  Rstrip )
    
    ( 25- LStrip ) - ( If we going to call LStrip then we can see over here from left hand side whatever space we have,
                       it will going to Strip or remove that part)                     
                                    But, in right hand side Space it will not going to remove,it will remain same as it is).
         - Lstrip only remove space of left side not the right side.

In [22]:
v = "       Vijay     "

In [23]:
v.lstrip()

'Vijay     '

                               Function - 25 & 34  ( Lstrip  &  Rstrip )
                               
    34 - Rstrip - ( If I am going to call a RStrip(),then it will going to remove space from right hand side.
    
                 - It will not going to remove a space from left hand side.It will going to remove 
                                   a sapce only from a a Right Hand side. )

In [25]:
v = "        Vijay        "

In [26]:
v.rstrip()

'        Vijay'

                                  Function - 22 ( JOIN ) 
    
    22 - JOIN - ( So with space "join". If I call "Vijaygurung", here we will able to find out that with the help of Joined                                      function.This particular space ( " " ) joined we can see a space between each character.

In [28]:
v = "vijaygurung"

In [29]:
" ".join("vijaygurung")

'v i j a y g u r u n g'

                                     Function - 22 ( JOIN ) 
    
    22- JOIN - ( If I would like to put some of the character over here may be "a")
                  In this case after every character it has joined "a".

In [34]:
v = "vijaygurung"

In [35]:
"a".join("vijaygurung")

'vaiajaaayagauarauanag'

                              Function - 22 ( CENTER )  
                              
    1. ( Return a centerd string odf length width.)
    
    If I have a string(str) v = "vijay" & If I am going to call a V.center() , So it take 2 parameter.
    
    (a) width
    (b) Character
    
    Exaplanation :- b Let suppose width wise If I am going to give 20.20 is nothing but its a reversed space.
                                    So, it will going to reversed 20 number of space & then I can try to call basically 
    reversed all of these with "Z".
    
    It will going to reversed 20 space.It reversed 20 number of space & then in a center it is trying to put this particular 
    string (Str) - "vijay".Before & after it will filled with "z".
    
    - So here also same in "#" whatever data I am going to place it is going to fill all these space with that particular
      character.

In [36]:
V = "vijay"

In [37]:
v.center(20,"z")

'zzzzvijaygurungzzzzz'

In [38]:
v = "vijay"

In [39]:
v.center(20,"#")

'#######vijay########'

                                         #Function
    
                               #List of (IS) - Function ( Total - 12 )    
        
    Definition -  ( Is- Function ) - ( V.Is ) - With respect to string (str) there is many function which is available.     
  
   - Whatever function or option here available with "IS" they are going to return "True" or "False".
 
           - So it is going to check is this available in upperCase or LowerCase,alphabetic,Numeric all short of things 
            it will going to check.        
 
               "IS" is the function which going to start with "IS" bydefault it is going to return whether "True" or "False"

        -  A Boolean Value at any point of time.We have seen "True" or "False" is a Boolean Variable (0 & 1 or 1 & 0).
    
    
(1)  IsAlnum

(2) IsAlpha

(3) IsAscii

(4) IsDecimal

(5) IsDigit

(6) IsIdentifier

(7) IsLower

(8) IsNumeric

(9) IsPrintable

(10) ISSpace

(11) IsTitle

(12) IsUpper

                              Function - 12 ( IS UPPER )  

1. IS UPPER -( Return True if the string is an uppercase string, False otherwise.)

   Defintion :- Here If I am going to call IS Upper it will going to return 'False'
                      Here I am just trying to check is this string ("Vijaygurung") available in Upper Case.So It is going 
    to return "False".

- "Vijaygurung" here my string is not available in a UpperCase , my all the characters are not available in Uppercase.


- Only Letter "V" or Character "V" is in Upper Case.Not my all the characters are in UpperCase.So it will going to give me

  an "False" Output.

In [11]:
v = "Vijaygurung"

In [12]:
v.isupper()

False

                                #Another Example : Function -12  - ( Is Upper )
    
    - True we got Because, here everything is available in a upperCases, Even a Single character available in a LowerCase
      it will going to return a "Fasle".
    
    - So, here my all the characters are "GURUNG" are in a UpperCase.So it is going to give me an "True".

In [15]:
v1 = "GURUNG"

In [16]:
v1.isupper()

True

                                   Function - 7 ( IS LOWER )  
    
     IS LOWER -( Return True if the string is a lowercase string, False otherwise.)
     
     -'FALSE' we got because, Is this my entire "Vijaygurung" is in a LowerCase.No,right.
     
     - Here we can only Letter or character "V" is in a Capital Letter & others letter are in a LowerCase.
     
     - So, because of that my entire output will be "False".

In [19]:
v = "Vijaygurung"

In [20]:
v.islower()

False

               #Another Example : Function -7  - ( Is Lower )

- True we got Because, here everything is available in a LowerCases,Not even a Single character or word is in UpperCase or
   Capital Letter.
            So that why my outcome will be "True".

- So, here my all the characters are "gurung" are in a LowerCase.So it is going to give me an "True".

In [23]:
v2 = "gurung"

In [24]:
v2.islower()

True

                                 Function - 10 ( IS SPACE )  

     IS SPACE -( Return True if the string is a whitespace string, False otherwise.)
     
     - If we call "Is Space" it will going to give me an "False".
     - Is this string ( V.Isspace )is a space string(str).So, its not in the space function.So it will going to give
       me an "False".

In [27]:
 v = "Vijaygurung"

In [28]:
v.isspace()

False

                              #Another Example :- Function - 10 ( IS SPACE )  
 
    - IS SPACE -( Return True if the string is a whitespace string, False otherwise.)
    
    - Here we can see we are geeting an output as a "True" Because , This is string str but a Blank one."    "
    
    - Basically it available with the complete space.

In [30]:
v4 = "    "

In [31]:
v4.isspace()

True

                                    Function - 10 ( IS DIGIT )  

    -  IS DIGIT -( Return True if the string is a digit string, False otherwise.)
    
    - "False" Because , it is not available in digit form (1,2,3,5,8,4) etc, so that why my outcome will be the "False"

In [33]:
v = "Vijaygurung"

In [34]:
v.isdigit()

False

                         #Another Example :-  Function - 10 ( IS DIGIT )  

    -IS DIGIT - ( Return True if the string is a digit string, False otherwise.)
    
    -"True" Because, It is in the integer (int) form & in the digit form that the region my output was "True" .

In [35]:
v5 = "3456"

In [36]:
v5.isdigit()

True

                    #Another Example 2 :-  Function - 10 ( IS DIGIT )  

    -IS DIGIT - ( Return True if the string is a digit string, False otherwise.)
    
    - "False" Because, here we have numeric as well Digit, If I am going to call this we get "False" outcome.
    
    - It's a "False" because it is not in the complete digit. Digit is always going to check for the digit one.

In [38]:
v6 = "PQr3456"

In [39]:
v6.isdigit()

False

In [1]:
 V = "vijaygurung"

In [2]:
V.startswith('t')

False